{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
  {% block body %}<h1>{{ 'welcome.my.page'|trans }} {{ app.user.email }}</h1>
      <a class="" href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
      {% if userPrograms is empty %}
          <p>{{ 'series.null.my.page'|trans }} </p>
      {% else %}
          <p>{{ 'series.my.page'|trans }} :</p>
          {% for program in userPrograms %}
              <ul>
                  <li>
                      <a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
                  </li>
              </ul>
          {% endfor %}
      {% endif %}
  {% endblock %}
