{% extends 'base.html.twig' %}

{% block title %}{{ 'comments'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'comments'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'comment'|trans }}</th>
                <th>{{ 'rate'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.rate }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'comment.null'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comment_new') }}">{{ 'new'|trans }}</a>
{% endblock %}
