{% extends 'base.html.twig' %}

{% block title %}{{ 'new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'comment.list'|trans }}</a>
{% endblock %}
