{% extends 'base.html.twig' %}
{% block title %}{{ 'categories'|trans }}{% endblock %}

  {% block body %}<h1>{{ 'categories.list'|trans }}</h1>

      {% for category in categories %}
          <div>
              <h2><a href="{{ path("category_show", { categoryName: category.name }) }}">{{ category.name }}</a></h2>


          </div>
      {% else %}
          {{ 'categories.null'|trans }}
      {% endfor %}

      <a href="{{ path('category_new') }}">{{ 'categories.add'|trans }}</a>
      <a href="{{ path('app_index') }}">{{ 'home'|trans }}</a>
  {% endblock %}
