{% extends 'base.html.twig' %}
{% block title %}{{ 'category'|trans }} : {{ category }}{% endblock %}

{% block body %}
    <h1>{{ 'category.last.three'|trans }} {{ category }} : </h1>
    {% for program in programs %}
        <div>
            <h2><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        {{ 'category.null'|trans }}
    {% endfor %}
    <a href="{{ path('category_index') }}">
        {{ 'category.list'|trans }}
    </a>

{% endblock %}
