{% extends 'base.html.twig' %}

{% block title %}{{ 'episodes'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'episodes'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'title'|trans }}</th>
                <th>{{ 'number'|trans }}</th>
                <th>{{ 'synopsis'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'id': episode.id, 'slug':episode.slug}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('episode_edit', {'id': episode.id, 'slug':episode.slug}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{{ 'null'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('episode_new') }}">{{ 'new'|trans }}</a>
{% endblock %}
