{% extends 'base.html.twig' %}

{% block title %}{{ 'new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new'|trans }}</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">{{ 'episode.list'|trans }}</a>
{% endblock %}
