{% extends 'layoutEmail.html.twig' %}

{% block title %}New episode{% endblock %}
{% block body %}
    <h1>New episode {{ episode.title }} created</h1>
    <p>Heya, a new episode was just created ! </p>
    <p> Episode title : {{ episode.title }}  </p>
    <p> Episode number : {{ episode.number }} in the season {{ episode.season.id }} of the
        program {{ episode.season.program.title }}.</p>
    <p>Summary : {{ episode.synopsis }}</p>
    <a href="{{ url("episode_show", {'slug': episode.slug }) }}">Here is the link to the episode's page</a>
{% endblock %}