{% extends 'base.html.twig' %}

{% block title %}{{ 'episode'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'episode'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>{{ 'title'|trans }}</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>{{ 'number'|trans }}</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>{{ 'synopsis'|trans }}</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('episode_index') }}">{{ 'episode.list'|trans }}</a>

    <a href="{{ path('episode_edit', {'id': episode.id, 'slug': episode.slug}) }}">{{ 'edit'|trans }}</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
