{% extends 'base.html.twig' %}

{% block title %}{{ 'new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new'|trans }}</h1>

    {{ include('season/_form.html.twig') }}

    <a href="{{ path('season_index') }}">{{ 'season.list'|trans }}</a>
{% endblock %}
