{% extends 'base.html.twig' %}

{% block title %}{{ episode.number }} épisode {% endblock %}

{% block body %}
    <h1>{{ episode.title }}</h1>
    <h2>{{ 'season'|trans }} {{ season.number }} {{ 'episode'|trans }} {{ episode.number }} {{ 'of.program'|trans }} {{ program.title }}</h2>
    <h3>{{ 'synopsis'|trans }}</h3>
    <p>  {{ episode.synopsis }}</p>
    {% if is_granted("ROLE_CONTRIBUTOR") %}
    <p> {{ 'comment.add'|trans }}</p>
    {{ include('comment/_form.html.twig') }}
    {% endif %}
    {% for comment in episode.comments %}
        <div class="card">
            <p>{{ comment.comment }} </p>
            <p>{{ 'rate'|trans }} : {{ comment.rate }}</p>
            <p>{{ 'written.by'|trans }} : {{ comment.author.email }}</p>
            {% if app.user == comment.author or is_granted("ROLE_ADMIN") %}
            {{ include('comment/_delete_form.html.twig') }}
            {% endif %}
        </div>
    {% endfor %}
    <a href="{{ path("program_season_show", {'slug': program.slug, seasonId: season.id }) }}">
        {{ 'season.list'|trans }}</a>
    <a href="{{ path("program_show", {'slug': program.slug  }) }}">
        {{ 'program.show'|trans }}
    </a>
    <a href="{{ path('program_index') }}">
        {{ 'program.list'|trans }}
    </a>
{% endblock %}