{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}

  {% block body %}<h1>Toutes les séries :</h1>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="btn btn-dark">Rechercher</button>
      {{ form_end(form) }}
      {% for program in programs %}
          <div>
              <h2><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }} -
                      Catégorie : {{ program.category.name }}</a></h2>
              <p>{{ program.summary }}</p>

          </div>
      {% else %}
          Aucune série trouvée.
      {% endfor %}
      <a href="{{ path('program_new') }}">Ajouter un programme</a>
      <a href="{{ path('app_index') }}">Retour à l'accueil</a>
  {% endblock %}


