{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}

  {% block body %}<h1>{{ 'every.program'|trans }}</h1>

      {{ form_start(form) }}

    {{ form_widget(form) }}
    <button class="btn btn-dark">{{ 'search'|trans }}</button>




      {{ form_end(form) }}
      {% for program in programs %}
          <div>
              <h2><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }} -
                      {{ 'category'|trans }} : {{ program.category.name }}</a></h2>
              <p>{{ program.summary }}</p>

          </div>
      {% else %}
          {{ 'program.none'|trans }}
      {% endfor %}
      <a href="{{ path('program_new') }}">{{ 'program.add'|trans }}</a>
      <a href="{{ path('app_index') }}">{{ 'program.list'|trans }}</a>
  {% endblock %}


