{% extends 'base.html.twig' %}

{% block title %}{{ 'new'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'new'|trans }}</h1>

    {{ include('actor/_form.html.twig') }}

    <a href="{{ path('actor_index') }}">{{ 'actor.list'|trans }}</a>
{% endblock %}
