<nav class="bg-primary  mx-auto navbar navbar-expand-lg navbar-light">
    <a class="nav-logo navbar-brand text-white " href={{ path("app_index") }}>Logo Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item active">
                <a class="nav-link text-white" href={{ path("app_index") }}>{{ 'home'|trans }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href={{ path("program_index") }}>{{ 'series'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href={{ path("category_index") }}>{{ 'categories'|trans }}</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href={{ path("actor_index") }}>{{ 'actors'|trans }}</a>
            </li>

            <li class="nav-item dropdown">
                    {{ render(controller('App\\Controller\\CategoryController::navbarTop')) }}
            </li>

        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                {% if app.user %}

            <a class="nav-link text-white" href="{{ path('my_profile') }}">{{ 'my.account'|trans }}</a>
                {% else %}
                <a class="nav-link text-white" href="{{ path('app_login') }}"> {{ 'account.login'|trans }} </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_register') }}">{{ 'register'|trans }}</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'language'|trans }}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'}))}}">Français</a>
                    <a class="dropdown-item" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">Anglais</a>
                </div>
            </li>
        </ul>
    </div>
</nav>