<nav class="bg-primary  mx-auto navbar navbar-expand-lg navbar-light">
    <a class="nav-logo navbar-brand text-white " href="/">Logo Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-center">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href={{ path("program_index") }}>Séries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href={{ path("category_index") }}>Catégories</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href={{ path("actor_index") }}>Acteurs</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                {% if app.user %}
                <a class="nav-link text-white" href="{{ path('my_profile') }}">Mon Compte</a>
                {% else %}
                <a class="nav-link text-white" href="{{ path('app_login') }}"> Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_register') }}">Créer un compte</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>