{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
  {% block body %}<h1>{{ 'three.random.from.imdb'|trans }}</h1>

      <div class="container">

          <div class="row">

                  {% for k in content %}
              <div class="col">
                  <a href="{{ path("api_show", { num: k.imdbID }) }}">
                      <h3 class="mt-0">{{ k.Title }}</h3>
                  </a>
                  {{ 'category'|trans }} : {{ k.Genre }}
              </div>
                      {% endfor %}

          </div>
          <div class="row">
              <div class="col-12  d-flex justify-content-center">
                  <button class="btn btn-success" onClick="window.location.reload();">And another one</button>
              </div>

          </div>


      </div>
      </div>

{% endblock %}