{% extends 'base.html.twig' %}
{% block title %} {% endblock %}

{% block body %}

    <div class="media">

        <img class="align-self-start mr-3" src="{{  content.Poster }}" alt="{{ content.Title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ content.Title }}</h1>
            <p>{{ content.Plot }}</p>
            <p>{{ 'category'|trans }} : {{ content.Genre }}</p>
     <p>D{{ 'date'|trans }} : {{ content.Released }}</p>
            <strong>{{ 'actors'|trans }} :</strong>
          <p>{{ content.Actors }}</p>
            <p>{{ 'written.by'|trans }} {{ content.Writer }}</p>
            <p>{{ 'duration'|trans }} {{ content.Runtime }}</p>
            <p>{{ content.Plot }}</p>

{{ content.imdbID }}
        </div>
    </div>

{% endblock %}