{% extends 'base.html.twig' %}
{% block body %}
    <div class="basic-center">
    <h1>
        Wild Series
    </h1>
    <h3>
        {{ 'welcome.message.h3'|trans }}
    </h3>
        <p>{{ 'series.last'|trans }} :</p>
    <div>

        {% for program in lastPrograms %}
        <ul>
            <li>
                <a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>

    <div>
        <p>{{ 'api.funny.message'|trans }}  </p>
    </div>


       <div>
           <a href="{{ path("api_programs") }}">{{ 'clic.here'|trans }}</a>
    </div>
    </div>
{% endblock %}